<!-- Stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="resources/Treant.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="form.css">
<!-- Dependencies -->
<script src="resources/d3.v3.min.js"></script>
<script src="resources/raphael.js"></script>
<script src="resources/Treant.js"></script>
<script src="resources/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="resources/jquery.easing.js"></script>
<!-- <body onload="draw(node,edge)"> -->


<!--<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">-->

<!--<br><br>-->

<!--<br><br>-->
<!--<form class="form-inline menu-item">-->
  <!--<h1>Dashboard Options:</h1>-->
  <!--<br>-->
  <!--<h2 class = "title"><b>Dataset</b></h2>-->
  <!--<div class="form-group">-->
        <!--<select name="table_selected" id = "all_tables" class="selectpicker form-control">-->
            <!--<option selected="true" value = "None">None</option>-->
            <!--{% for dataset in all_tables %}-->
                <!--<option value= {{dataset}} >{{dataset}}</option>-->
<!--​            {% endfor %}-->
        <!--</select>-->
  <!--</div>-->
<!--</form>-->
<!--<br>-->
<!--<form class="form-inline menu-item">-->
   <!--<h2 class = "title"><b>X-Axis</b></h2>-->
  <!--<div class="form-group">-->
         <!--<select name = "xaxis_select" id = "xaxis" class="selectpicker form-control">-->
        <!--</select>-->
    <!--</div>-->
<!--</form>-->
<!--&lt;!&ndash; <br>-->
<!--<form class="form-inline menu-item">-->
    <!--<h2 class = "title"><b>Y-Axis</b></h2>-->
    <!--<div class="form-group">-->
        <!--<select name = "yaxis_select"  id = "yaxis" class="selectpicker form-control">-->
            <!--<option selected="true" value = "None"> None</option>-->
        <!--</select>-->
    <!--</div>-->
<!--</form> &ndash;&gt;-->
<!--<br>-->
<!--<form class="form-inline menu-item" class="form-inline">-->
  <!--<h2 class = "title"><b>Metric</b></h2>-->
    <!--<div class="form-group">-->
        <!--<select name = "metric"  id = "metric" class="selectpicker form-control">-->
            <!--<option value= "euclidean">Euclidean</option>-->
            <!--<option value= "kldiv">KL Divergence</option>-->
            <!--<option value= "maxdiff">MaxDiff</option>-->
            <!--<option value= "emd">Earth Mover</option>-->
        <!--</select>-->
    <!--</div>-->
  <!--<br>-->
<!--</form>-->
<!--<br>-->
<!--<form class="form-inline menu-item" class="form-inline">-->
  <!--<h2 class = "title"><b>Algorithm</b></h2>-->
    <!--<div class="form-group">-->
        <!--<select name = "algorithm"  id = "algorithm" class="selectpicker form-control">-->
            <!--<option value= "frontierGreedy">Frontier Greedy</option>-->
            <!--<option value= "greedy">Greedy</option>-->
        <!--</select>-->
    <!--</div>-->
  <!--<br>-->
<!--</form>-->
<!--<br>-->
<!--<form class="form-inline menu-item" class="form-inline">-->
  <!--<h2 class = "title"><b>k</b></h2>-->


<!--</form>-->
<!--<input id="k" class="slider" style ="margin-left: 20px" type="range" min="0" value="0" max="6" step="1">-->
<!--<div id="k" style ="margin-left: 20px"></div>-->
<!--<br>-->
<!--<form class="form-inline menu-item" class="form-inline">-->
  <!--<h2 class = "title"><b>iceberg condition</b></h2>-->


<!--</form>-->
<!--<input id="ic" class="slider" style ="margin-left: 20px" type="range" min="0" value="0" max="6" step="1">-->
<!--<div id="ic" style ="margin-left: 20px"></div>-->
<!--<br>-->
<!--<form class="form-inline menu-item" class="form-inline">-->
  <!--<h2 class = "title"><b>informative parent criterion</b></h2>-->


<!--</form>-->
<!--<input id="ip" class="slider" style ="margin-left: 20px" type="range" min="0" value="0" max="6" step="1">-->
<!--<div id="ip" style ="margin-left: 20px"></div>-->
<!--<div id="additionalInfoPanel" style="margin-left: 10px; word-wrap: break-word;"></div>-->
<!--&lt;!&ndash; <form class="form-inline menu-item" class="form-inline" id = "agg_select" name = "agg_select">-->
  <!--<h2 class = "title"><b>Aggregation function:</b></h2>-->
    <!--<div class="form-group">-->
        <!--<select name = "AggFunc"  id = "AggFunc" class="selectpicker form-control">-->
            <!--<option selected="true" value = "None"> None</option>-->
            <!--<option value= "SUM">SUM</option>-->
            <!--<option value= "AVERAGE">AVERAGE</option>-->
            <!--<option value= "COUNT">COUNT</option>-->
        <!--</select>-->
    <!--</div>-->
  <!--<br>-->
<!--</form>-->
 <!--&ndash;&gt;<br>-->
<!--<input type="submit" id="submit" onclick="constructQuery()" style = "background-color: #359EDA;border: none;color: white;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;margin: 10px 60px;cursor: pointer;" value="Submit">-->
<!--&lt;!&ndash; <div class="container">-->
    <!--<div class="row">-->
        <!--<div class="control-group" id="fields">-->
            <!--<div class="controls">-->
                <!--<form role="form" class="menu-item" autocomplete="off" name = "filter_select">-->
                    <!--<h2 class = "title"><b>Filters</b></h2>-->
                    <!--<div class="entry input-group col-xs-3">-->
                        <!--<input class="filter form-control" style = "left:2px" type="text" />-->
                        <!--<span class="input-group-btn">-->
                            <!--<button class="btn btn-success btn-add" type="button">-->
                                <!--<span class="glyphicon glyphicon-plus"></span>-->
                            <!--</button>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div> &ndash;&gt;-->
<!--&lt;!&ndash; Rectangular switch &ndash;&gt;-->

    <!--&lt;!&ndash; <input type="submit" id="filterSubmit" style = "background-color: #359EDA;border: none;color: white;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;margin: 100px 100px;cursor: pointer;right:40;" value="Submit"> &ndash;&gt;-->
<!--</div>-->

<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; width: 15%;" id="mySidebar">
    <br><br>
    <h1 for="sel1">User Selection</h1>
    <br>
      <form>
        <div class="form-group">
          <select class="form-control" id="user" style="width: 30%;margin: 10px 30px;" >
            <script>
                var num = 18;
                var options = "";
                for(var i = 1; i<=num; i++){
                      options += "<option>"+ i +"</option>";
                }
                document.getElementById("user").innerHTML = options;
            </script>
          </select>
          <br>
        </div>
      </form>
   <!-- <button type="button" name="drawTree" onclick="drawTree()" aria-pressed="false" class="btn btn-default btn-xs">Task1</button>
    <button type="button" name="drawTable" onclick="drawTable()" aria-pressed="false" class="btn btn-default btn-xs">Task2</button>
-->

    <h1>Task Selection:</h1>
            <button type="button" name="T1" onclick="populateT1()" aria-pressed="false" class="btn btn-default btn-xs">T1</button>
            <button type="button" name="T2" onclick="populateT2()" aria-pressed="false" class="btn btn-default btn-xs">T2</button>
            <button type="button" name="T3" onclick="populateT3()" aria-pressed="false" class="btn btn-default btn-xs">T3</button>
<br><br><br>
            <button type="button" name="D1Q1" onclick="populateA1()" aria-pressed="false" class="btn btn-default btn-xs">A1</button>
            <button type="button" name="D1Q2" onclick="populateA2()" aria-pressed="false" class="btn btn-default btn-xs">A2</button>
            <button type="button" name="D1Q3" onclick="populateA3()" aria-pressed="false" class="btn btn-default btn-xs">A3</button>
            <!-- <button type="button" name="query3" onclick="populateQuery3()" aria-pressed="false" class="btn btn-default btn-xs">Q3</button> -->
<br><br><br>
            <button type="button" name="D2Q1" onclick="populateB1()" aria-pressed="false" class="btn btn-default btn-xs">B1</button>
            <button type="button" name="D2Q2" onclick="populateB2()" aria-pressed="false" class="btn btn-default btn-xs">B2</button>
            <button type="button" name="D2Q3" onclick="populateB3()" aria-pressed="false" class="btn btn-default btn-xs">B3</button>
  <!--<a href="#" class="btn btn-primary btn-xs disabled" role="button" aria-disabled="true"></a>
            <button type="button" name="D2Q1" onclick="populateD2Query1()" aria-pressed="false" class="btn btn-default btn-xs">A3</button>
            <button type="button" name="D2Q2" onclick="populateD2Query2()" aria-pressed="false" class="btn btn-default btn-xs">B1</button>
            &lt;!&ndash; <button type="button" name="query6" onclick="populateQuery6()" aria-pressed="false" class="btn btn-default btn-xs">Q6</button> &ndash;&gt;
   <br>
   <a href="#" class="btn btn-primary btn-xs disabled" role="button" aria-disabled="true"></a>
            <button type="button" name="D3Q1" onclick="populateD3Query1()" aria-pressed="false" class="btn btn-default btn-xs">B2</button>
            <button type="button" name="D3Q2" onclick="populateD3Query2()" aria-pressed="false" class="btn btn-default btn-xs">B3</button>
            &lt;!&ndash; <button type="button" name="query6" onclick="populateQuery6()" aria-pressed="false" class="btn btn-default btn-xs">Q6</button> &ndash;&gt;
-->
</div>


<div zclass="w3-main" id="main">

<div class="w3-teal">
  <div class="iconcontainer" style="margin-left: 10px;" onclick="mymenuicon(this);menuItem_open_close();" >
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

    <button id="helpmsg" style="float:right;width:3%;height:5.65%;text-align:center;font-size:20px;color:#009688;font-weight: bold">?</button>

<!-- The Modal -->
<div id="message" class="modal" >
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p style="color:grey;text-align:left">
        <br>1. Press the options button <img src="resources/icon.png" height="20" width="20"> on the top left corner to reveal sidebar<br>
        <br>2. Sidebar contains different pre-loaded datasets with customizable options<br>
        <br>3. Click 'Submit' button to view the processed tree<br>
        <br>4. For each node of the tree, click the graph to change border color<br>
        <br>5. Red means not interested, green means interested and grey is not yet decided<br>
        <br><img src="resources/red.png" height="100" width="100">
        <img src="resources/green.png" height="100" width="100">


        <br>
        <br>6. The sidebar on the right will show your current selection of node(s) and their filter(s)<br>
    </p>
  </div>

</div>

</div>

<div class="w3-container">

    <div id="testbar">
    </div>
        <!--<br> nodeDic: <input type="text" id="nodeDic" style="width: 30%;">-->
        <div>    
            <br> graphDic: <input type="text" id="graphDic" style="width: 30%;">
            <input type="submit" id="graphDicSubmit" style = "display: inline-block;font-size: 15px;">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="newCanvas" type="checkbox" onchange="toggleCanvas(this)" style="display:none">
        </div>
<!--         <div id = "nodeDic" style ="display: block" treeContent = {{nodeDic}}>
                {{nodeDic}}
        </div>

        <div id = "node" style ="display: none" treeContent = {{node}}>
                {{node}}
        </div>

        <div id = "edge" style ="display: block" treeContent = {{edge}}>
                {{edge}}
        </div>
 -->

        <!--<div class = "chart" id = "tree_container" style="height:100%; width:100%;"></div>-->


</div>

    <script>
        $( function() {
          $( "#charttable" ).draggable({ containment: '#canvas-table', scroll: false });
        });
        $(document).ready(function(){
            $('#canvas-table').bind('wheel mousewheel', function(e){
            var delta;
            if (e.originalEvent.wheelDelta !== undefined)
                delta = e.originalEvent.wheelDelta;
            else
                delta = e.originalEvent.deltaY * -1;

                if(delta > 0) {
                    $("#canvas-table").css("zoom", "+=0.1");
                }
                else{
                    $("#canvas-table").css("zoom", "-=0.1");
                }
            });
        });
    </script>
    </script>

        <div id="canvas-graph" style="height:100%; width:80%; float:left; background-color: rgb(239, 240, 242);">
            <img src="resources/Eclipse.svg" id = 'loadingDashboard' style="display: none; position: relative; z-index: 10; width: 100%; height: 50%;">
        </div>
        <div id="dialog">
            <div id="dlg_text" style="padding: 7px;background-color: white;border-style: solid;border-width: 1px;border-radius: 8px;border-color: grey;display:none; font-size: 15px;">

            </div>
        </div>
        <div id="canvas-table" style="zoom:100%;height:100%; width:80%; float:left;display:none;background-color:#eff0f2; ">
            <table id="charttable" style="border-spacing: 5px 12px; border-collapse: separate; ">

            </table>
        </div>
        <pre id="eventSpan"></pre>

<div id = "chart_container">

        <div style="visibility: hidden; display:inline; width: 0%; height: 0px" id="chartid">
            <div id="chartid2" style="width: 0px; height: 0px">
            </div>
        </div>
</div>

 <div id="right-sidebar-graph" class="clearfix" style="width:20%; float:right; z-index: 1; position: relative;">
<br><br>
<form class="form-inline menu-item">
  <h1>Dashboard Options:</h1>
  <br>
  <h2 class = "title"><b>Dataset</b></h2>
  <div class="form-group">
        <select name="table_selected" id = "all_tables" class="selectpicker form-control">
            <option selected="true" value = "Police">Police</option>
            <!-- <option selected="true" value = "None">None</option> -->
            <!-- {% for dataset in all_tables %}
                <option value= {{dataset}} >{{dataset}}</option>
​            {% endfor %} -->
        </select>
  </div>
</form>
<br><br>
<form class="form-inline menu-item">
   <h2 class = "title"><b>X-Axis</b></h2>
  <div class="form-group">
      <select name = "xaxis_select" id = "xaxis" class="selectpicker form-control">
        <option selected="true" value = "None">stop_outcome</option>
      </select>
    </div>
</form>
<br><br>
<form class="form-inline menu-item">
    <h2 class = "title"><b>Y-Axis</b></h2>
    <div class="form-group">
        <select name = "yaxis_select"  id = "yaxis" class="selectpicker form-control">
            <option selected="true" value = "None">id</option>
        </select>
    </div>
</form>
<br><br>
<form class="form-inline menu-item" class="form-inline" id = "agg_select" name = "agg_select">
  <h2 class = "title"><b>Aggregation function:</b></h2>
    <div class="form-group">
        <select name = "AggFunc"  id = "AggFunc" class="selectpicker form-control">
            <option selected="true" value = "None"> None</option>
            <option value= "SUM">SUM</option>
            <option value= "AVERAGE">AVERAGE</option>
            <option value= "COUNT">COUNT</option>
        </select>
    </div>
  <br>
</form>
<br><br>
<div class="form-group" style="margin-left: 21px;">
    <input type="checkbox" id="collapse-on" style="zoom: 1.5;">
    <label for="collapse-on">Collapse Identical Visualizations</label>
</div>

<form class="form-inline menu-item" class="form-inline">
  <h2 class = "title"><b>k</b></h2>
</form>
<input id="k" class="slider" style ="margin-left: 20px" type="range" min="0" value="0" max="6" step="1">
<div id="k" style ="margin-left: 20px"></div>
<p style = "margin-left:80px">10</p>
<br>
<form class="form-inline menu-item" class="form-inline">
  <h2 class = "title"><b>iceberg condition</b></h2>


</form>
<input id="ic" class="slider" style ="margin-left: 20px" type="range" min="0" value="0" max="6" step="1">
<div id="ic" style ="margin-left: 20px"></div>
<p style = "margin-left:20px">0</p>
<br>
<form class="form-inline menu-item" class="form-inline">
  <h2 class = "title"><b>informative parent criterion</b></h2>


</form>
<input id="ip" class="slider" style ="margin-left: 20px" type="range" min="0" value="0" max="6" step="1">
<div id="ip" style ="margin-left: 20px"></div>
<p style = "margin-left:135px">0.9</p>
<div id="additionalInfoPanel" style="margin-left: 10px; word-wrap: break-word;"></div>
<input type="submit" id="submit" onclick="constructQuery()" style = "background-color: #359EDA;border: none;color: white;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px;margin: 10px 214px;cursor: pointer;" value="Submit">
 <!--  <div class="column menu" style="width:100%">

        <div>
            <li class="panel">You are interested in...</li>

                <p style="color:green;font-weight: bold ">filter</p>
               <ol id="interested-in" style="list-style-type:circle；color:#368332;font-weight: bold;">

               </ol>
        </div>

      <div >
          <li class="panel">You are not interested in...</li>
          <table>

              <p style="color:red;font-weight: bold ">filter</p>
               <ol id="not-interested-in" style="list-style-type:circle；color:#368332;font-weight: bold;">

               </ol>
          </table>

      </div>
 -->


  </div>
 </div>
<div id="right-sidebar-table" class="clearfix" style="background-color:White;width:20%;height:100%; float:right;display:none; z-index: 1; position: relative;" >
<div class="sidebar-menu" style="width:100%">
   <div>
            <li class="panel">You are interested in...</li>

                <p style="color:green;font-weight: bold ">filter</p>
               <ol id="selected" style="list-style-type:circle；color:#368332;font-weight: bold;">

               </ol>
        </div>

      <div >
          <li class="panel">You are not interested in...</li>
          <table>

              <p style="color:red;font-weight: bold ">filter</p>
               <ol id="notselected" style="list-style-type:circle；color:#368332;font-weight: bold;">

               </ol>
          </table>

      </div>
<br>


</div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="barchart.js"></script>
<!--     <script type="text/javascript">

        var nodeDic = document.getElementById('nodeDic').textContent;
        var node = document.getElementById('node').textContent;
        var edge = document.getElementById('edge').textContent;

    </script> -->

<!-- Javascript files -->
<script type="text/javascript" src="sidebar.js"></script>
<script type="text/javascript" src="helper.js"></script>
<script type="text/javascript" src="barchart.js"></script>
</div>
</div>